[Desktop Entry]
Type=Application
Name=Aliens versus Predator Classic 2000
Comment=Play Aliens versus Predator
Path=.free-engineer/AliensVsPredator/
Exec=/opt/avp/avp
Icon=/opt/free-engineer/avp_icon.png
Categories=Game;
Terminal=false
