[Desktop Entry]
Type=Application
Name=Free Engineer
Comment=Install free game engines with proprietary content.
Path=/opt/free-engineer
Exec=python3 free_engineer.pyc
Icon=/opt/free-engineer/icon.png
Categories=Game;
Terminal=false
