[Desktop Entry]
Type=Application
Name=Free Engineer
Comment=Install free game engines with proprietary content.
Exec=bash -c '_PWD="$PWD"; cd "`echo $0 | sed s/free-engineer.desktop$//`"; python3 main.py; cd "_PWD"' %k
Icon=free-engineer.png
Categories=Game;
Terminal=false
