[Desktop Entry]
Type=Application
Name=Jedi Knight: Jedi Academy - SinglePlayer
Comment=Play Jedi Knights Academy
Path=.free-engineer/JediAcademy/GameData/
Exec=env LD_LIBRARY_PATH=/opt/sdl2-makson/lib/ ./openjk_sp.x86_64
Icon=/opt/free-engineer/openjk_icon.png
Categories=Game;
Terminal=true
