[Desktop Entry]
Type=Application
Name=The Elder Scrolls III: Morrowind
Comment=Play The Elder Scrolls III: Morrowind
Path=.free-engineer/morrowind/
Exec=./bin/openmw
Icon=openmw.png
Categories=Game;
Terminal=false
