Source: free-engineer
Section: science
Priority: extra
Maintainer: Tomasz Makarewicz <makson96@gmail.com>
Build-Depends: debhelper (>= 5), cdbs (>= 0.2)
Standards-Version: 3.8.0

Package: free-engineer
Architecture: any
Depends: gksu, python3-pyqt5, dpkg, lib32gcc1 [amd64]
Description: This program is to download and
 stick free game engines with proprietary
 game content.