#!/usr/bin/make -f

PACKAGEDIR = package_dir

# secondly called by launchpad
build:
	mkdir $(PACKAGEDIR)
	mkdir -p $(PACKAGEDIR)/free-engineer/DEBIAN
	mkdir -p $(PACKAGEDIR)/free-engineer/opt/free-engineer
	#Free-Engineer
	cp free_engineer.pyc $(PACKAGEDIR)/free-engineer/opt/free-engineer
	cp icon.png $(PACKAGEDIR)/free-engineer/opt/free-engineer
	#OpenJK
	mkdir -p $(PACKAGEDIR)/free-engineer/opt/free-engineer/jediacademy
	cp jediacademy/openjk_amd64_mp.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer/jediacademy/
	cp jediacademy/openjk_amd64_sp.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer/jediacademy/
	cp jediacademy/openjk_i386_mp.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer/jediacademy/
	cp jediacademy/openjk_i386_sp.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer/jediacademy/
	cp jediacademy/icon.png $(PACKAGEDIR)/free-engineer/opt/free-engineer/jediacademy/
	cp openjk.pyc $(PACKAGEDIR)/free-engineer/opt/free-engineer
	#avp
	mkdir -p $(PACKAGEDIR)/free-engineer/opt/free-engineer/avp
	cp avp/avp.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer/avp/
	cp avp/icon.png $(PACKAGEDIR)/free-engineer/opt/free-engineer/avp/
	cp avp.pyc $(PACKAGEDIR)/free-engineer/opt/free-engineer
	#doom3
	mkdir -p $(PACKAGEDIR)/free-engineer/opt/free-engineer/doom3
	cp doom3/doom3.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer/doom3/
	cp doom3/icon.png $(PACKAGEDIR)/free-engineer/opt/free-engineer/doom3/
	cp doom3.pyc $(PACKAGEDIR)/free-engineer/opt/free-engineer
	#morrowind
	mkdir -p $(PACKAGEDIR)/free-engineer/opt/free-engineer/morrowind
	cp morrowind/morrowind.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer/morrowind/
	cp morrowind/icon.png $(PACKAGEDIR)/free-engineer/opt/free-engineer/morrowind/
	cp morrowind/openmw.cfg $(PACKAGEDIR)/free-engineer/opt/free-engineer/morrowind/
	cp morrowind/run.sh $(PACKAGEDIR)/free-engineer/opt/free-engineer/morrowind/
	cp morrowind.pyc $(PACKAGEDIR)/free-engineer/opt/free-engineer
#tombraider
	mkdir -p $(PACKAGEDIR)/free-engineer/opt/free-engineer/tombraider
	cp tombraider/tb1.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer/tombraider/
	cp tombraider/tb2.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer/tombraider/
	cp tombraider/tb3.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer/tombraider/
	cp tombraider/icon.png $(PACKAGEDIR)/free-engineer/opt/free-engineer/tombraider/
	cp tombraider.pyc $(PACKAGEDIR)/free-engineer/opt/free-engineer	
	#steamcmd
	cp steamcmd_linux.tar.gz $(PACKAGEDIR)/free-engineer/opt/free-engineer
	mkdir -p $(PACKAGEDIR)/free-engineer/usr/share/doc/free-engineer
	cp README.md $(PACKAGEDIR)/free-engineer/usr/share/doc/free-engineer
	mkdir -p $(PACKAGEDIR)/free-engineer/usr/share/applications
	cp free-engineer.desktop $(PACKAGEDIR)/free-engineer/usr/share/applications


# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

binary-arch:
	mkdir -p debian/tmp/DEBIAN
	dpkg-gencontrol -pfree-engineer
	mv debian/tmp/DEBIAN/control $(PACKAGEDIR)/free-engineer/DEBIAN
	cp debian/postinst $(PACKAGEDIR)/free-engineer/DEBIAN
	chmod +x $(PACKAGEDIR)/free-engineer/DEBIAN/postinst
	dpkg --build $(PACKAGEDIR)/free-engineer/ ..

# firstly called by launchpad
clean:
	rm -rf $(PACKAGEDIR)

.PHONY: binary binary-arch binary-indep clean
