#!/usr/bin/make -f

PACKAGEDIR = package_dir

# secondly called by launchpad
build:
	mkdir $(PACKAGEDIR)
	mkdir -p $(PACKAGEDIR)/pymol-plugin-dynamics/DEBIAN
	mkdir -p $(PACKAGEDIR)/pymol-plugin-dynamics/usr/lib/python2.7/dist-packages/pmg_tk/startup
	mkdir -p $(PACKAGEDIR)/pymol-plugin-dynamics/usr/share/doc/pymol-plugin-dynamics
	cp dynamics_pymol_plugin.py $(PACKAGEDIR)/pymol-plugin-dynamics/usr/lib/python2.7/dist-packages/pmg_tk/startup
	cp dynamics_pymol_plugin.pyc $(PACKAGEDIR)/pymol-plugin-dynamics/usr/lib/python2.7/dist-packages/pmg_tk/startup
	cp manual.odt $(PACKAGEDIR)/pymol-plugin-dynamics/usr/share/doc/pymol-plugin-dynamics
	cp README $(PACKAGEDIR)/pymol-plugin-dynamics/usr/share/doc/pymol-plugin-dynamics
	cp LICENSE $(PACKAGEDIR)/pymol-plugin-dynamics/usr/share/doc/pymol-plugin-dynamics
	cp debian/add_files/preinst $(PACKAGEDIR)/pymol-plugin-dynamics/DEBIAN/
	mkdir -p $(PACKAGEDIR)/pydynamics/DEBIAN
	mkdir -p $(PACKAGEDIR)/pydynamics/usr/bin/
	mkdir -p $(PACKAGEDIR)/pydynamics/usr/share/doc/pydynamics/
	mkdir -p $(PACKAGEDIR)/pydynamics/usr/share/applications/
	cp pydynamics.py $(PACKAGEDIR)/pydynamics/usr/bin/pydynamics
	cp pydynamics_gui.py $(PACKAGEDIR)/pydynamics/usr/bin/pydynamics_gui
	cp icon.png $(PACKAGEDIR)/pydynamics/usr/share/doc/pydynamics/
	cp debian/add_files/pydynamics.desktop $(PACKAGEDIR)/pydynamics/usr/share/applications/

# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

binary-arch:
	mkdir -p debian/tmp/DEBIAN
	dpkg-gencontrol -ppymol-plugin-dynamics
	mv debian/tmp/DEBIAN/control $(PACKAGEDIR)/pymol-plugin-dynamics/DEBIAN
	dpkg --build $(PACKAGEDIR)/pymol-plugin-dynamics/ ..
	dpkg-gencontrol -ppydynamics
	mv debian/tmp/DEBIAN/control $(PACKAGEDIR)/pydynamics/DEBIAN
	dpkg --build $(PACKAGEDIR)/pydynamics/ ..

# firstly called by launchpad
clean:
	rm -rf $(PACKAGEDIR)

.PHONY: binary binary-arch binary-indep clean
