#!/usr/bin/make -f

PACKAGEDIR = package_dir

# secondly called by launchpad
build:
	mkdir $(PACKAGEDIR)
	mkdir -p $(PACKAGEDIR)/free-engineer/DEBIAN
	mkdir -p $(PACKAGEDIR)/free-engineer/opt/free-engineer
	cp free_engineer.pyc $(PACKAGEDIR)/free-engineer/opt/free-engineer
	cp icon.png $(PACKAGEDIR)/free-engineer/opt/free-engineer
	cp openjk_amd64_mp.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer
	cp openjk_amd64_sp.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer
	cp openjk_i386_mp.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer
	cp openjk_i386_sp.desktop $(PACKAGEDIR)/free-engineer/opt/free-engineer
	cp openjk_icon.png $(PACKAGEDIR)/free-engineer/opt/free-engineer
	cp openjk.pyc $(PACKAGEDIR)/free-engineer/opt/free-engineer
	cp steamcmd_linux.tar.gz $(PACKAGEDIR)/free-engineer/opt/free-engineer
	mkdir -p $(PACKAGEDIR)/free-engineer/usr/share/doc/free-engineer
	cp README.md $(PACKAGEDIR)/free-engineer/usr/share/doc/free-engineer
	mkdir -p $(PACKAGEDIR)/free-engineer/usr/share/applications
	cp free-engineer.desktop $(PACKAGEDIR)/free-engineer/usr/share/applications


# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

binary-arch:
	mkdir -p debian/tmp/DEBIAN
	dpkg-gencontrol -ppymol-plugin-dynamics
	mv debian/tmp/DEBIAN/control $(PACKAGEDIR)/pymol-plugin-dynamics/DEBIAN
	dpkg --build $(PACKAGEDIR)/pymol-plugin-dynamics/ ..
	dpkg-gencontrol -ppydynamics
	mv debian/tmp/DEBIAN/control $(PACKAGEDIR)/pydynamics/DEBIAN
	dpkg --build $(PACKAGEDIR)/pydynamics/ ..

# firstly called by launchpad
clean:
	rm -rf $(PACKAGEDIR)

.PHONY: binary binary-arch binary-indep clean
