[Desktop Entry]
Type=Application
Name=Jedi Knight: Jedi Academy - SinglePlayer
Comment=Play Jedi Knights Academy
Path=.recultis/JediAcademy/GameData/
Exec=./openjk_sp.x86_64
Icon=openjk.png
Categories=Game;
Terminal=false
