[Desktop Entry]
Type=Application
Name=Jedi Knight: Jedi Academy - MultiPlayer
Comment=Play Jedi Knights Academy
Path=.recultis/JediAcademy/GameData/
Exec=./openjk.x86_64
Icon=openjk.png
Categories=Game;
Terminal=false
