[Desktop Entry]
Type=Application
Name=Doom 3 BFG
Comment=Play Doom 3 BFG
Path=.recultis/doom3/
Exec=./RBDoom3BFG
Icon=rbdoom-3-bfg.png
Categories=Game;
Terminal=false
